<div id="user_form">
<h1>Editing book</h1>

<% form_for @book, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
<div style="float:right">
  	<p>
		<b>Current Cover</b><br/>
		<%= image_tag @book.cover_photo.url(:large) %><br />
		<b><%= f.label "Upload a Cover" %></b><br />

	   	<%= f.file_field :cover_photo %>
	  </p>
	  <p>
		<b><%= f.label "Categories"%></b>
		<%= render :partial => 'shared/categories', :locals => {:object => @book, :name => "book"}%>
	  </p>
</div>
  <p>
    <b><%= f.label :name, "Title: " %></b><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <b><%= f.label :description %></b><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.hidden_field :user_id, :value => current_user.id%>
  </p>


    <%= f.submit 'Update', :class => 'button' ,:style => 'margin-left:50%;bottom:0px'%>

<% end %>
</div>
<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>